{% extends 'base.html' %} 
{% block title %} Inscripciones {% endblock %}

{% block content %}
<a href="/inscripcion/crear" class="btn btn-outline-primary">Crear Inscripcion</a>
<table class="table table-hover">
  <thead>
    <th>ID</th>
    <th>FECHA</th>
    <th>ESTUDIANTE</th>
    <th>CURSO</th>
    <th>ACCIONES</th>
  </thead>
  <tbody>
    {% for inscripcion in inscripciones %}
    <tr>
      <td>{{inscripcion['id']}}</td>
      <td>{{inscripcion['fecha']}}</td>
      <td>{{inscripcion['estudiante']}}</td>
      <td>{{inscripcion['curso']}}</td>
      <td>
        <a href="/inscripcion/editar/{{inscripcion['id']}}" class="btn btn-outline-warning">Editar</a>
        <a href="/inscripcion/eliminar/{{inscripcion['id']}}" class="btn btn-outline-danger" onclick="return confirm('Esta Seguro de eliminar')">Eliminar</a>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock %}
